<app-header></app-header>
<div class="list">
  <div *ngIf="!habitaciones || habitaciones.length === 0" class="flex justify-center items-center h-96">
    <p class="text-center text-gray-500">No hay habitaciones disponibles.
      <a class="text-blue-500 hover:underline" (click)="irAFormulario()">Agregue una habitación</a>.
    </p>
  </div>

  <div class="container mx-auto mt-10 mb-20">
    <div class="grid-container" *ngIf="habitaciones && habitaciones.length > 0">

      <mat-grid-list cols="3" gutterSize="20px" class="p-10">
        <mat-grid-tile *ngFor="let habitacion of habitaciones">
          <mat-card class="habitacion-card bg-white shadow-lg rounded-lg">

            <img mat-card-image [src]="habitacion.imagen" alt="Imagen de la habitación">
            <mat-card-content>
              <br>
              <h2>{{ habitacion.nombre }}</h2>
              <p>Tipo: <span>{{ habitacion.Tipo_habitacion }}</span></p>
              <p>Capacidad: {{ habitacion.capacidad }} personas</p>
              <p>Costo por noche: $ {{ habitacion.total }}</p>
              <p>Camas: {{ habitacion.camas }}</p>
              <p>Detalles: {{habitacion.descripcion}}</p>
              <p>Servicios:
                <span *ngIf="habitacion.servicios && habitacion.servicios.length > 0">
                  <span *ngFor="let servicio of habitacion.servicios">
                    {{ servicio }}
                  </span>
                </span>
                <span *ngIf="!habitacion.servicios || habitacion.servicios.length === 0">
                  No hay servicios disponibles.
                </span>
              </p>
              <p>Inventario:
                <span *ngIf="habitacion.inventario && habitacion.inventario.length > 0">
                  <span *ngFor="let item of habitacion.inventario">
                    {{ item }}
                  </span>
                </span>
                <span *ngIf="!habitacion.inventario || habitacion.inventario.length === 0">
                  No hay inventario disponible.
                </span>
              </p>
            </mat-card-content>
            <mat-card-actions class="flex justify-between">
              <button mat-button mat-small type="button" class="my-custom-button"
                (click)="deatallesHabitacion(habitacion)">Detalles</button>
            </mat-card-actions>

          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>

      <div class="button-container">
        <button mat-button type="button" class="my-custom-button save" (click)="irAFormulario()">Crear
          Habitación</button>
      </div>

    </div>
  </div>
</div>

<app-footer></app-footer>
