<app-header></app-header>



<div class="min-h-screen  !w-screen flex justify-center items-center !pt-36 ">

  <div class="flip-card !w-2/3">
    <div class="flip-card-inner" [ngClass]="frente ? 'vuelta' : ''">

      <div class="flip-card-front" class="bg-yellow-200 rounded">

        <!-- Form de login (Amarillo) -->

        <h1 class="ml-[calc(85%/2)] font-thin" *ngIf="!frente">Login</h1>
        <hr *ngIf="!frente" class="h-px my-8 bg-gray-700 border-0 dark:bg-gray-700" style="size: 10px;">

        <form action="" (ngSubmit)="Enviar_login()" class="!mb-40 mx-20" [formGroup]="FormularioLogin" *ngIf="!frente">


          <mat-form-field class="!block">
            <mat-label for="Email">Correo electronico</mat-label>
            <input matInput placeholder="email" class="'m-4" formControlName="email">
          </mat-form-field>

          <mat-form-field class="!block">
            <mat-label>Ingrese su contraseña</mat-label>
            <input matInput [type]="hide_password ? 'password' : 'text'" formControlName="password">
            <button mat-icon-button matSuffix (click)="hide_password = !hide_password"
              [attr.aria-label]="'hide_password password'" [attr.aria-pressed]="hide_password">
              <mat-icon>{{hide_password ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>


          <re-captcha (resolved)="resolved($event)" siteKey="6LcEbY8oAAAAAPLov2dRfdBSy5c1rN5ryGH7K9RX"></re-captcha>



          <button mat-button type="submit">Login</button>
          <button mat-raised-button class="!m-10" (click)="voltearTarjeta()">Signup</button>
        </form>

      </div>






      <div class="flip-card-back !bg-sky-200">



        <!-- Form del signup (Azul) -->
        



        <form (ngSubmit)="Enviar_signUp()" [formGroup]="FormularioRegistro" *ngIf="frente"
          class="flex flex-wrap gap-10 max-h-10">

          <mat-form-field class="!block">
            <mat-label for="nombre">Nombre: </mat-label>
            <input matInput placeholder="Nombre" formControlName="nombre">
          </mat-form-field>




          <mat-form-field class="!block">
            <mat-label for="apellido_paterno">Apellido paterno:</mat-label>
            <input matInput placeholder="Apellido Paterno" formControlName="apellido_paterno">
          </mat-form-field>

          <mat-form-field class="!block">
            <mat-label for="apellido_materno">Apellido materno:</mat-label>
            <input matInput placeholder="Apellido Materno" formControlName="apellido_materno">
          </mat-form-field>

          <mat-form-field class="!block">
            <mat-label for="nombre">Usuario: </mat-label>
            <input matInput placeholder="Usuario" formControlName="usuario">
          </mat-form-field>


          <mat-form-field>
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="correo" placeholder="ej: correo@gmail.com">
            <mat-error *ngIf="FormularioRegistro.hasError('correo') && !FormularioRegistro.hasError('required')">
              Por favor ingrese un correo valido
            </mat-error>
            <mat-error *ngIf="FormularioRegistro.hasError('required')">
              El correo es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>

            <mat-form-field>
              <mat-label>Telefono</mat-label>
              <span matPrefix>+1 &nbsp;</span>
              <input type="tel" matInput placeholder="555-555-555" formControlName="telefono">
              <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>


            <mat-form-field>
              <mat-label>Fecha de nacimiento</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="fecha_nacimiento">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

          <mat-form-field class="!block">
            <mat-label>Ingrese su contraseña</mat-label>
            <input matInput [type]="hide_password ? 'password' : 'text'" formControlName="password">
            <button mat-icon-button matSuffix (click)="hide_password = !hide_password"
              [attr.aria-label]="'hide_password password'" [attr.aria-pressed]="hide_password">
              <mat-icon>{{hide_password ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field class="!block">
            <mat-label for="id_pais">País:</mat-label>
            <mat-select formControlName="id_pais">
              <mat-option value="1">Pais 1</mat-option>
              <mat-option value="2">Pais 2</mat-option>
              <mat-option value="3">Pais 3</mat-option>
              <mat-option value="4">Pais 4</mat-option>
              <mat-option value="5">Pais 5</mat-option>
              <mat-option value="6">Pais 6</mat-option>
              <mat-option value="7">Pais 7</mat-option>
              <mat-option value="8">Pais 8</mat-option>
              <mat-option value="9">Pais 9</mat-option>
              <mat-option value="10">Pais 10</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="!block">
            <mat-label for="id_estado">Estado:</mat-label>
            <mat-select formControlName="id_estado">
              <mat-option value="1">Estado 1</mat-option>
              <mat-option value="2">Estado 2</mat-option>
              <mat-option value="3">Estado 3</mat-option>
              <mat-option value="4">Estado 4</mat-option>
              <mat-option value="5">Estado 5</mat-option>
              <mat-option value="6">Estado 6</mat-option>
              <mat-option value="7">Estado 7</mat-option>
              <mat-option value="8">Estado 8</mat-option>
              <mat-option value="9">Estado 9</mat-option>
              <mat-option value="10">Estado 10</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="!block">
            <mat-label for="id_municipio">Municipio:</mat-label>
            <mat-select formControlName="id_municipio">
              <mat-option value="1">Muncipio 1</mat-option>
              <mat-option value="2">Muncipio 2</mat-option>
              <mat-option value="3">Muncipio 3</mat-option>
              <mat-option value="4">Muncipio 4</mat-option>
              <mat-option value="5">Muncipio 5</mat-option>
              <mat-option value="6">Muncipio 6</mat-option>
              <mat-option value="7">Muncipio 7</mat-option>
              <mat-option value="8">Muncipio 8</mat-option>
              <mat-option value="9">Muncipio 9</mat-option>
              <mat-option value="10">Muncipio 10</mat-option>

            </mat-select>
          </mat-form-field>

          <button mat-button type="submit">Registrarse</button>
          <button mat-raised-button class="" (click)="voltearTarjeta()">Login</button>
        </form>




      </div>


    </div>
  </div>





  <!-- <div class="px-8 py-6 mx-4 mt-14 text-left bg-white shadow-lg md:w-1/3 lg:w-2/4">
    <h3 class="text-2xl font-bold text-center">Login</h3>
    <form action="/login" method="post" (ngSubmit)="crear()" [formGroup]="Formulario">
      <div class="mt-4">
        <label class="form-control" for="email" class="block mb-2 text-sm font-medium text-gray-700">Email address</label>
        <input type="email" formControlName="email" id="email" name="email" class="block w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-blue-500" required>
      </div>
      <div class="mt-4 mb-4">
        <label for="password" class="block mb-2 text-sm font-medium text-gray-700">Password</label>
        <input type="password"  formControlName="password" id="password" name="password" class="block w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-blue-500" required>
      </div>
      <re-captcha data-theme="dark" (resolved)="resolved($event)" siteKey="6LcEbY8oAAAAAPLov2dRfdBSy5c1rN5ryGH7K9RX"></re-captcha>
      <div class="flex items-center justify-between mt-4">
        <button type="submit" (click)="Enviar()" class="px-4 py-2 text-sm font-medium text-white bg-blue-500 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-1 focus:ring-blue-500">Login</button>
        <a href="https://www.youtube.com/watch?v=GBIIQ0kP15E" class="text-sm text-blue-500 hover:underline">Forgot password?</a>
      </div>
    </form>

    <div class="mx-auto">
    </div>
    <div class="mt-4 text-center">
      <p>Don't have an account? <a href="/signup" class="text-blue-500 hover:underline" (click)="reenviar('signup')">Sign up</a></p>
    </div>

  </div> -->



  <!-- <div class="container-fluid py-3">
    <h1>Angular reCAPTCHA v3</h1>

    <form #form="ngForm">
      <div class="row mt-3">
        <div class="col-sm-12 mb-2">
          <button type="button" class="btn btn-sm btn-primary" (click)="send(form)">Send</button>
        </div>
      </div>
    </form> -->






</div>
<app-footer></app-footer>