<app-header></app-header>

<div class="form relative h-screen w-screen bg-sky-50 p-32 flex flex-wrap">
  <form [formGroup]="habitacionForm" (ngSubmit)="guardarHabitacion()"
    class="parent w-full h-full grid grid-cols-6 grid-rows-6 gap-10">


    <div class="div1 col-span-3 row-span-3 m-4">
      <div class="m-4">
        <mat-form-field class="w-full">
          <mat-label class="text-gray-100" for="nombre">Nombre:</mat-label>
          <input class="w-full bg-white border border-gray-300 rounded-md py-2 px-4" matInput type="text" id="nombre" formControlName="nombre" required>
        </mat-form-field>
      </div>

      <div class="m-4">
        <mat-form-field class="w-full">
          <mat-label for="capacidad">Capacidad:</mat-label>
          <div class="capacity-input">
            <button type="button" (click)="decrementarCapacidad()">-</button>
            <input class="init" matInput type="number" id="capacidad" formControlName="capacidad" required>
            <button type="button" (click)="incrementarCapacidad()">+</button>
          </div>
        </mat-form-field>
      </div>


      <div class="m-4">
        <mat-form-field class="w-full">
          <mat-label for="camas">Camas:</mat-label>
          <input matInput type="text" id="camas" formControlName="camas" required>
        </mat-form-field>
      </div>

      <div class="m-4">
        <mat-form-field class="w-full">
          <mat-label for="tipo">Tipo:</mat-label>
          <mat-select id="tipo" formControlName="tipo" required>
            <mat-option value="junior">Junior</mat-option>
            <mat-option value="platinum">Platinum</mat-option>
            <mat-option value="gold">Gold</mat-option>
          </mat-select>
        </mat-form-field>
      </div>


    </div>

    <div class="div2 col-span-3 row-span-3 m-4">

      <div class="m-4">
        <mat-form-field class="w-full">
          <mat-label for="total">Costo por noche:</mat-label>
          <div class="cost-input">
            <button type="button" (click)="decrementarCosto()">-</button>
            <input matInput type="number" id="total" formControlName="total" required>
            <button type="button" (click)="incrementarCosto()">+</button>
          </div>
        </mat-form-field>
      </div>

      <div class="m-4">
        <mat-form-field class="w-full">
          <mat-label for="extensionTelefonica">Extensión Telefónica:</mat-label>
          <input matInput type="text" id="extensionTelefonica" formControlName="extensionTelefonica" required>
        </mat-form-field>
      </div>


    </div>

    <div class="div3 col-span-3 row-span-3 m-4">

      <div class="m-4 p-6">
        <!-- <mat-form-field class="w-full"> -->
          <!-- <mat-label for="descripcion">Descripción:</mat-label> -->
          <ckeditor [editor]="Editor" [config]="editorConfig" formControlName="descripcion" required></ckeditor>
        <!-- </mat-form-field> -->
      </div>

      <div class="m-4">
        <div class="m-4">
          <mat-form-field class="w-full">
            <mat-label for="imagenes">Imagenes:</mat-label>
            <input matInput type="text" id="imagenes" formControlName="imagenes" required>
          </mat-form-field>
        </div>

      </div>

    </div>


    <div class="div4 col-span-3 row-span-3 m-4">

      <div class="m-4">
        <button type="button" (click)="agregarInventario()" class="flat-button">Agregar Inventario</button>
        <div *ngFor="let item of inventarios().controls; let i = index">
          <mat-form-field class="w-full">
            <mat-label for="inventario">inventario:</mat-label>
            <input matInput type="text" id="inventario" [formControlName]="i" required class="styled-input">
          </mat-form-field>
        </div>

      </div>

      <div class="m-4">
        <button type="button" (click)="agregarServicio()" class="flat-button">Agregar Servicio</button>
        <div *ngFor="let item of servicio().controls; let i = index">
          <mat-form-field class="w-full">
            <mat-label for="servicios">Servicio:</mat-label>
            <input matInput type="text" id="servicios" [formControlName]="i" required class="styled-input">
          </mat-form-field>
        </div>
      </div>

    </div>

    <div class="button-container save absolute bottom-25 right-30 translate-x-295">
      <button type="ngSubmit" class="my-custom-button">Guardar</button>
    </div>

    <div class="button-container update absolute bottom-25 right-30 translate-x-135">
      <button type="button" class="my-custom-button">Actualizar</button>
    </div>

    <div class="button-container delete absolute bottom-25 right-30">
      <button type="button" class="my-custom-button">Eliminar</button>
    </div>


  </form>
</div>

<app-footer></app-footer>
